<%= render 'partials/thanks_partial' %>

<title id="title">FindYoRep</title>

<p id="thanksTitle"> To Call Again, hit the button below!</p>


<div id ="div-button">
<button id="myButton" class="glyphicon glyphicon-repeat" style ="margin-left: 200px" >

<script type="text/javascript">
    document.getElementById("myButton").onclick = function () {
        location.href = "/";
    };
</script>

</button>
</div>
