<div id ="div-button">
<button id="myButton" class="glyphicon glyphicon-repeat" style ="margin-left: 12%" >

<script type="text/javascript">
    document.getElementById("myButton").onclick = function () {
        location.href = "/";
    };
</script>

</button>
