<%= render 'partials/thanks_partial' %>

<div class="container-fluid">

<p style="margin-left: 5%" > To Call Again, hit the button below!</p>


<div id ="div-button">
<button id="myButton" class="glyphicon glyphicon-repeat" style ="margin-left: 12%" >

<script type="text/javascript">
    document.getElementById("myButton").onclick = function () {
        location.href = "/";
    };
</script>

</button>
</div>
</div>
