<%= render 'partials/sub_pages' %>

<title id="title">FindYoRep</title>


<div id ="div-button">
<button id="myButton" class="glyphicon glyphicon-repeat" >

<script type="text/javascript">
    document.getElementById("myButton").onclick = function () {
        location.href = "/";
    };
</script>

</button>
</div>
